.users-list {
    width: 100%;

    .top-panel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;        

        .search {
            text-align: right;
            margin-bottom: 20px;

            .search__title{
                padding: 0 5px;
            }
        }
    }

    .navigation {    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 24px;
    
        .navigation__title {
            min-width: 170px;
            text-align: left;
        } 
    }    
}


